/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.selected {
    background: yellow;
}

#submit {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font: 14px monospace;
    margin: 0 auto;
    padding: 30px 20px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    float: bottom;
    width: 100%;
}

li {
    margin: 5px 0;
}

#chatControls  {
    overflow: auto;
}

#message {
    position: absolute;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    bottom: 30px;
    padding: 10px;
}

#userlist {
    position: absolute;
    list-style: none;
    margin: 0 0 250px 250px;
    background: #eee;
    padding: 5px 10px;
    width: 150px;
    top: 30px;
    right: 30px;
}

#chat {
    width: 100%;
}

#chat p {
    margin: auto;
    font-weight: 300;
    width:50%;
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
    word-wrap: break-word;
}

#chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}

@keyframes enter {
    from { transform: none; }
    50% { transform: scale(1.05); }
    to { transform: none; }
}
